<div class="container2">
    <div class="resform">
        <h1>Book Ticket</h1>
        <div class="formcont">
            <form>
                <input type="text" placeholder="FROM" id="" value="">
                <input type="date" placeholder="date" id="" value="">
                <br/>
                <img class="arrowimg" src="../../assets/photo/arrow.png">
                <br/>
                <input type="text" placeholder="TO" id="" value="">
                <input type="text" placeholder="SELECT CLASS" id="" value="">
                <br/>
                <input type="text" placeholder="CATAGORY" id="" value="">
                <br/>
                <label><input type="checkbox" > Divyaang Concession</label>
                <label><input type="checkbox" > Flexible With Date</label>
                <br/>
                <label><input type="checkbox" > Train with Available Birth</label>
            </form>
            <button type="submit" class="srchbutton">Search</button>
        </div>
    </div>
</div>